.main-grid{
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
	border-radius: var(--main-grid-top-border-radius);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
    &-body{
        height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 1px;
    }
    &-row-body,
    &-row-head{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        border-bottom: 1px solid #f0f2f5;
    }
    &-row-body{
        .main-grid-cell{
            transition: all 0.3s ease;
        }
        &:hover{
            .main-grid-cell{
                background: #dbdfe56c;
            }
        }
    }
    &-cell-head{
        padding: 1rem 0;
    }
    &-cell{
        &-head.Активность,
        &.activityDate{
            background-color: #f6f8f9;
        }
        &-task.ui-label-link{
            color: #fff;
        }
    }
    &-cell-content{
       padding: 1rem 0;
       display: block;
    }
    &-cell-head-container {
        position: relative;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 14px 16px 11px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    &-loader{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        &-gif{
            width: 40px;
            height: 40px;
        }
    }
    
}