@import "root.scss";

@import "https://cp.micros.uz/bitrix/js/ui/label/src/ui.label.css"; // ui.label
// @import "https://micros.bitrix24.ru/bitrix/js/ui/ui-label/ui.layout.form.min.css"; // ui.layout.form
@import "https://micros.bitrix24.ru/bitrix/js/ui/forms/ui.forms.min.css"; // ui.forms
@import "https://micros.bitrix24.ru/bitrix/js/ui/buttons/ui.buttons.min.css"; // ui.buttons
@import "https://micros.bitrix24.ru/bitrix/js/ui/alerts/ui.alerts.min.css"; // ui.buttons

@import "pages/grid.scss";

@import "grid.scss";
@import "common.scss";


#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }